.idea/
target/
*.iml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.classpath
.project
.settings
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.vagrant

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
