# /usr/lib/systemd/system/aws-smtp-relay.service
[Unit]
Description=AWS SMTP Relay
After=network.target

[Service]
EnvironmentFile=/etc/default/aws-smtp-relay
User=aws-smtp-relay
Type=simple
ExecStart=/usr/bin/java -jar /usr/share/aws-smtp-relay/aws-smtp-relay-${project.version}-jar-with-dependencies.jar $OPTS
ExecReload=/usr/bin/kill -HUP $MAINPID
SuccessExitStatus=130 143

[Install]
WantedBy=multi-user.target
